################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day 1/.vs/Day 1/v15/Browse.VC.db
